/*
Se definem las propiedades de estilos.
Prioridad 3: Los estilos definidos en un archivo aplican despues de los archivos definidos en un elemento HTML
*/

body{
    background: #c0c0c0;
    color:#000080;
    font-family: "Coutry Gothic";
}

