body {
    background: #3F2860;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}
h1 {
    color: #90C5A9;
    font-size: 25px;
    text-align: center;
}
.resultado{
    color:#FA8B60;
}
